{% extends "site_base.html" %}

{% import "utils/_macros.html" as macros %}

{% block title %}SponsorMatch - {{ title }} {% endblock %}

{% block page_content %}

<div class="row settings-page bg-white mx-0">
  <nav class="col-lg-4 bg-site sidebar">
    <div class="close-sidebar">
      {{ utils.render_icon("arrow-left", size="1.5rem")}}
    </div>
    <div class="sidebar-sticky px-5">
      <div class="d-flex align-items-center mb-4">
        {{ utils.render_icon("gear") }}
        <h4 class="pl-3 mb-0 font-150">Settings</h4>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item d-flex align-items-center">

          {{ utils.render_icon("key-fill") }}
          <a class="nav-link pl-3 font-120" href="{{ url_for('settings.change_password') }}">Change Password</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          {{ utils.render_icon("envelope-fill") }}
          <a class="nav-link pl-3 font-120" href="{{ url_for('settings.change_email') }}">Change Email</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          {{ utils.render_icon("x-square-fill") }}
          <a class="nav-link pl-3 font-120" href="{{ url_for('settings.close_account') }}">Close Account</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar bg-primary mobile-sidebar-nav">
    <button id="sidebarToggleBtn" class="sidebar-toggler" type="button" aria-label="Toggle sidebar">
      <span class="sidebar-toggler-bar"></span>
      <span class="sidebar-toggler-bar"></span>
      <span class="sidebar-toggler-bar"></span>
    </button>
  </nav>
  <main role="main" class="settings-content col-lg-8 px-5 pb-5">
    <div class="card border-none card-shadow mt-5">
      <div class="card-header border-none shadow-light-bottom-inset settings-card-header bg-white">
        {{ heading }}
      </div>
      <div class="card-body shadow-light-bottom-inset bg-site">
        {% if message %}
        <p class="text-center">{{ message }}</p>
        {% endif %}
        <form id="settingsForm" action="{{ url_for(endpoint) }}" method="POST">
          {{form.hidden_tag()}}

          {% for field in form %}
          {% if field.type != "SubmitField" and field.type != "HiddenField"  and field.type != "CSRFTokenField" %}
          <div class="form-group row">

            {{ field.label(for=field.id, class="col-form-label text-right-lg flex-grow-lg-30 align-self-start pl-4") }}
            <div class="pl-4 col-lg-4">
              {{ field(class_="form-control") }}
            </div>

          </div>
          {% endif %}
          {% endfor %}
        </form>
      </div>
      <div class="card-footer border-none bg-white d-flex justify-content-end">
        {% if heading.lower() == "close your account" %}
        <button type="submit" class="btn btn-danger" form="settingsForm">Close</button>
        {% else %}
        <button type="submit" class="btn btn-primary-override" form="settingsForm">Update</button>
        {% endif %}
      </div>
    </div>

  </main>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">

  const openSidebar = function () {
    $("#sidebarToggleBtn").on("click", function (event) {
      $(".sidebar").addClass("show-sidebar");
      $(".bg-overlay-dark").addClass("show");

      onClickOutside();

    });
  };


  const closeSidebar = function () {
    $(".close-sidebar").on("click", function (event) {
      $(".sidebar").removeClass("show-sidebar");
      $(".bg-overlay-dark").removeClass("show");
    });
  };

  const onClickOutside = function () {
    // Register event listener so user can click outside of sidebar to close it
    window.addEventListener("click", function (event) {
      if (event.target.classList.contains("bg-overlay-dark")) {
        $(".close-sidebar").trigger("click");
      }
    });
  };




  openSidebar();
  closeSidebar();
  setSiteBackgroundColor("#fff");


</script>
{% endblock %}