{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SponsorMatch - Login{% endblock %}

{% block page_content %}
<div class="container">
	<div class="form-wrapper">
		<h3>Sign In</h3>
		<div class="login col-xs-8 col-sm-5 col-md-4 col-lg-4">
			{{ wtf.quick_form(form, button_map={"submit": "btn btn-primary btn-block login-btn"}) }}
		</div>
		<div class="col-md-4 login-text">
			<p>Forgot your password? <a href="{{ url_for('auth.request_password_reset') }}">Click here to reset it</a>.</p>
			<p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
		</div>
	</div>
</div>
{% endblock %}

