{% extends "base.html" %}

{% block title %}Payments{% endblock %}

{% block page_content %}
<div class="container">
    <div class="form-wrapper">
        <h2 class="col-md-4 text-center">Purchase Your Subscription</h2>
        <div class="payment-message col-md-4">
            <p class="text-center">
            	 We use Stripe as our secure payment provider. Please complete your signup process by purchasing your subscription below.
            </p>
        </div>
        <form method="POST" action="{{ url }}">
        	<script
                src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="{{ publishable_key }}"
                data-description="{{ description}}"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-amount="{{ amount }}"
                data-locale="auto">
              </script>
        </form>
    </div>
</div>
{% endblock %}