{% extends "site_base.html" %}

{% block title %}SponsorMatch | Events Dashboard{% endblock %}

{% block page_content %}
<div class="container pt-4">
	<h2 class="text-center">Events Dashboard</h2>
	<div class="row mb-4">
		<div class="col-md-6 labels-bold">
			{{ wtf.render_form(dropdown_form) }}
		</div>
	</div>
	<div class="row justify-content-center justify-content-xl-start">
		<ul class="col-12 list-unstyled">
			{% for main_image, event in events %}
			{% if main_image %}
			{% set src=url_for('static', filename=main_image) %}
			{% else %}
			{% set src=url_for('static', filename='images/default_event_images/default_event_image12.jpeg') %}
			{% endif %}
			<li class="horizontal-card flex-nowrap bg-white mb-3 py-3 px-4" id="{{ event.id }}">
				<a class="no-link-styling flex-column flex-md-row d-flex"
					href="{{ url_for('events.edit_basic_info', id=event.id) }}">
					<div class="horizontal-card-image-wrapper">
						<img src="{{ src }}" alt="Main Event Image">
					</div>
					<div class="horizontal-card-body">
						<h5 class="custom-font-semibold font-120">{{ event.title }}</h5>
						<p class="text-orange">
							{{ event.start_date("%B %-d, %-Y") }} at {{ event.start_time("%-I:%M %p")}}
						</p>
						<div><span class="custom-font-semibold">Total sales</span>: ${{ event.total_sales() }}</div>
						<div>
							{% if event.is_ongoing() %}
							<p><span class="custom-font-semibold">Status</span>: Live Event</p>
							{% elif event.has_ended() %}
							<p><span class="custom-font-semibold">Status</span>: Past Event</p>
							{% elif event.is_draft() %}
							<p><span class="custom-font-semibold">Status</span>: Draft</p>
							{% endif %}
						</div>
						<div>{{ event.num_packages_sold() }} / {{ event.num_packages_available() }} Tickets Sold</div>
					</div>


					<div class="horizontal-card-icons">
						<div class="d-flex align-items-center">
							<a href="{{ url_for('events.edit_basic_info', id=event.id) }}" class="icon-link">
								{{ utils.render_icon("pencil-square", size="1.2rem", color="2fb7ec")}}
							</a>
							<a class="icon-link ml-2 delete-event" href="#">
								{{ utils.render_icon("trash", size="1.2rem", color="#dc3545")}}
							</a>
						</div>
					</div>
				</a>
			</li>
			{% endfor %}
		</ul>


	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/events_dashboard.js') }}"></script>
{% endblock %}