{% extends "site_base.html" %}

{% block title %}Sponsormatch | Sponsorship Dashboard{% endblock %}

{% block page_content %}
<div class="container pt-4">
	<h2 class="text-center mb-4">Manage Sponsorships</h2>

	<div class="row mb-4">
		<div class="col-md-6 labels-bold">
			{{ wtf.render_form(dropdown_form) }}
		</div>
	</div>
	<div class="row justify-content-center justify-content-xl-start">
		<ul class="col-12 list-unstyled">
			{% for event_image, sponsorship in sponsorships %}
			{% if event_image %}
			{% set src=url_for('static', filename=event_image) %}
			{% else %}
			{% set src=url_for('static', filename='images/default_event_image12.jpeg') %}
			{% endif %}
			<li class="sponsorship horizontal-card flex-nowrap bg-white mb-3 py-3 px-4"
				id="{{ sponsorship.package_id }}">
				<div class="flex-column flex-md-row d-flex cursor-pointer">
					<div class="horizontal-card-image-wrapper">
						<img src="{{ src }}" alt="Main Event Image">
					</div>
					<div class="horizontal-card-body">
						<a class="custom-font-semibold font-120 d-block no-link-styling"
							href="{{ url_for('events.event', id=sponsorship.event_id) }}">
							{{ sponsorship.event.title }}
						</a>

						<p class="text-orange mb-2">
							{{ sponsorship.package.name }}
						</p>
						<p class="mb-0">
							<span class="custom-font-semibold ">Purchase Date</span>:
							{{ sponsorship.timestamp.date().strftime("%-m/%-d/%Y") }}
						</p>

						{% if sponsorship.is_current() %}
						<p class="mb-0"><span class="custom-font-semibold">Status</span>: Current</p>
						{% elif sponsorship.is_past() %}
						<p class="mb-0"><span class="custom-font-semibold">Status</span>: Past</p>
						{% endif %}

						<p>
							<span class="custom-font-semibold">Price</span>: ${{ sponsorship.package.price }}
						</p>
					</div>

				</div>
			</li>


			{% endfor %}
		</ul>
	</div>
</div>

{% include "dashboard/_package_modal.html" %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/sponsorships_dashboard.js') }}"></script>
{% endblock %}