/*CSS that is applied globally */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); */


@font-face {
	font-family: 'Source Sans Pro Regular';
	src: url('./Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

@font-face {
	font-family: 'Source Sans Pro Semi Bold';
	src: url('./Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}

@font-face {
	font-family: 'Source Sans Pro Regaular Italic';
	src: url('./Source_Sans_Pro/SourceSansPro-Italic.ttf');
}


:root {
	--primary-color-override: #2fb7ec;
	--primary-color-hover: rgb(0, 152, 211);
	--dark-color-override: #1a2b33;
	--site-bg-color: #f0f5f7;
	--light-color-override:#e5e9ef;
	--medium-color-override: #7e9aa6;
}

body {
	background: var(--site-bg-color);
	color: var(--dark-color-override);
	font-family: 'Source Sans Pro Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}


/* Visibility */
.hidden {
	display: none;
}



/* Borders and shadows */
.border-bottom {
	border-bottom: 1px solid #dee2e6 !important;
}

.border-none {
	border: none !important;
}

.card-shadow {
	box-shadow: 0 0 0 1px #e3e8ee;
}

  
.shadow-light-bottom-inset {
	box-shadow: inset 0 -1px #e3e8ee;
}

/* Navbars */
.navbar.navbar-light {
	box-shadow: 0 1px #e3e8ee;
}

.sidebar {
	position: fixed;
	width: auto;
	z-index: 9500;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	top: 0;
	bottom: 0;
	box-shadow: inset -1px 0 0 #e3e8ee;
	overflow-y : scroll;
	transform: translateX(-100%);
	transition: 0.3s transform ease;
}


.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 3rem);
	padding-top: 0.5rem;
	overflow-x: hidden;
	overflow-y: auto;
}


.sidebar .navbar-nav .nav-link {
	opacity: 0.85;
	color: var(--dark-color-override);
	transition: opacity 0.2s ease;
}

.sidebar .navbar-nav .nav-link:hover {
	opacity: 1;
}


.mobile-sidebar-nav{
	position: absolute;
	display: flex;
	background: var(--primary-color-override);
	top: 3.5rem;
	left: 0;
	right: 0;
	box-shadow: 0 1px 8px 0 rgba(0,0,0, 0.15), 
	0 2px 2px 0 rgba(0,0,0, 0.15);
}

.sidebar-toggler {
	position: relative;
	cursor: pointer;
	padding: 0.25rem 0.75rem;
	height: 2.5rem;
	width: 2.5rem;
	background: inherit;
	color: #fff;
	border-radius: 0.25rem;
	border: transparent;
	line-height: 1;
	z-index: 200;
}

.sidebar-toggler:hover {
	color: var(--light-color-override);
}

.sidebar-toggler:focus {
	outline: none;
	border: none;
}

.sidebar-toggler-bar {
	position: absolute;
	background: #fff;
	left: 0.5rem;
	right: 0.5rem;
	height: 3px;
}

.sidebar-toggler .sidebar-toggler-bar:first-child {
	top: 30%;
}

.sidebar-toggler .sidebar-toggler-bar:nth-child(2) {
	top: 50%;
}

.sidebar-toggler .sidebar-toggler-bar:last-child {
	top: 70%;
}



/* Arrow to close sidebar */
.close-sidebar {
	position: absolute;
	top: 1rem;
	right: 2rem;
}

.show-sidebar {
	transform: translateX(0);
}


/* Spacing */

.pl-4-plus {
	padding-left: 2rem !important;
}

.px-4-plus {
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}

.mb-4-plus {
	margin-bottom: 2rem !important;
}

.mb-5-plus {
	margin-bottom: 4rem !important;
}

.mt-5-plus {
	margin-top: 4rem !important;
}

.extra-mb {
	margin-bottom: 18rem;
}

/* Sizes */


.vh-70 {
	height: 70vh !important;
}


/* Alerts */
.alert-danger {
	background-color: #f8d7da;
}

.alert {
	position: fixed;
	width: 100%;
	z-index: 800;
  }


/* Dropdowns */
.dropdown-item:hover, .dropdown-item:focus {
	background-color: rgba(222, 241, 248, 0.8);
	
}

.dropdown-item.active, .dropdown-item:active {
	color: var(--dark-color-override);
    background-color: rgba(222, 241, 248, 0.8);
}



/* Search Bar */
.has-search {
	position: relative;
}

.has-search .form-control {
	padding-left: 2.375rem;
}

.has-search .form-control::placeholder { 
	color: rgba(0, 0, 0, 0.4); 
} 

 /* WebKit, Blink, Edge */
.has-search .form-control::-webkit-input-placeholder { 
	color: rgba(0, 0, 0, 0.4); 
} 

 /* Mozilla Firefox 4 to 18 */
.has-search .form-control:-moz-placeholder { 
	color: rgba(0, 0, 0, 0.4);
} 

 /* Mozilla Firefox 19+ */
.has-search .form-control::-moz-placeholder { 
	color: rgba(0, 0, 0, 0.4);
 } 


 /* Internet Explorer 10-11 */
.has-search .form-control:-ms-input-placeholder { 
	color: rgba(0, 0, 0, 0.4);
} 
 /* Microsoft Edge */ 
.has-search .form-control::-ms-input-placeholder { 
	color: rgba(0, 0, 0, 0.4);
} 


.has-search.form-group svg {
	position: absolute;
    z-index: 100;
    display: block;
    width: 1rem;
	height: 1rem;
	left: 0.5rem;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.8);
}


/* Bootstrap Form Style Overrides */

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
	box-shadow: none;
}

.form-control:focus {
	border-color: #80bdff;
	box-shadow: 0 0 0 0.13rem rgba(0, 123, 255, 0.25);
  }

.no-labels label{
	display: none;
}

/* Background */
.bg-white {
	background: #fff !important;
}

.bg-site {
	background: var(--site-bg-color) !important;
}

.bg-primary {
	color: #fff;
	background: var(--primary-color-override) !important;
}




.bg-overlay-dark {
	position: fixed;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: transparent;
	opacity: 0;
	z-index: -1;
	transition: all 0.3s ease;
}

.bg-overlay-dark.show {
	opacity: 0.6;
	background: var(--dark-color-override);	
	z-index: 9000;
}


/* Text and Fonts */
.text-primary-override {
	color: var(--primary-color-override);
}

.text-primary-override:hover {
	color: var(--primary-color-hover);
}

.text-dark-override {
	color: var(--dark-color-override);
}

a.text-dark-override:hover {
	color: #3388e4;
	text-decoration: underline;
}

.link-blue {
	/* color: #3d97f8; */
	color: #2f90f7;
}

.link-blue:hover {
	color: #3d97f8;
	text-decoration: underline;
}

.text-overflow-ellipsis {
	text-overflow: ellipsis !important;
}

.font-120 {
	font-size: 1.2rem !important;
}

.font-150 {
	font-size: 1.5rem !important;
}


/* Buttons */
.btn-primary-override {
	color: #fff;
	background: var(--primary-color-override);
}

.btn-primary-override:hover {
	color: #fff;
	background: var(--primary-color-hover);
}


/* Other */
.no-pointer-events {
	pointer-events: none !important;
}




/* Media Queries */

@media (min-width: 1024px) {
	.flex-grow-lg-30 {
		flex: 30% 0 0;
	}
	
	.text-right-lg {
		text-align: right !important;
	}
	.sidebar {
		top: 3rem;
		z-index: 500;
		overflow-y: hidden;
		transform: translateX(0);
	}
	.mobile-sidebar-nav {
		display: none !important;
	}
	.close-sidebar {
		display: none;
	}
	.edit-event-content, .settings-content {
		padding-top: 3rem !important;	
	}
	.edit-event-content.demographics > * {
		padding-top: 0 !important;
	}
}



/* Auth Blueprint Specific Styles */
.subscription-message {
	line-height: 1.7;
	font-size: 1.1rem;
}

/*Settings Blueprint Specific Styles */
.settings-card-header {
	font-size: 1.4rem;
}

.settings-content {
	position: absolute;
	right: 0;
	padding-top: 5rem;
}

.settings-page {
	height: 100vh;
}

/* Event Blueprint Specific Styles */
.edit-event-content {
	position: absolute;
	right: 0;
	padding-top: 5rem;
}


/* Older Styles Below need to be refactored or deleted*/





/*CSS for user blueprint*/
.container.user-container .page-header {
	border: none;
}

.container.edit-profile {
	width: 70%;
	margin-bottom: 80px;
}

.container.edit-profile h2 {
	margin-top: 35px;
	margin-bottom: 25px;
}

.container.edit-profile .remove-profile-image-form, 
.container.edit-profile .upload-image-form {
	padding-bottom: 40px;
	border-bottom: 1px solid #ddd;
}

.profile-thumbnail {
	position: absolute;
}

.profile-header {
    min-height: 260px;
    margin-left: 250px;
}

#profilePhoto {
	width: 18%;
	height: auto;
	/*max-height: 25%;*/
}

#editProfilePhoto {
	display: inline-block;
	width: 25%;
	height: auto;
	margin-bottom: 15px;
}

.remove-profile-image-form .btn {
	width: 25%;
}

.profile-form input {
	margin-right: 5px;
}

/*CSS for Admin Panel*/
.admin-header {
	margin-bottom: 30px;
}

ul.users {
	margin-top: 20px;
}


/*CSS for homepage*/
.pagination {
  display: flex;
  justify-content: center;
}

.pagination li {
  display: block;
 }

 .banner img {
 	position: relative;
 	
 	width: 100%;
 	max-height: 500px;
 }

.homepage-header {
  color: #fff;
  position: absolute;
  /* top: 15%; */
  left: 10%;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  font-size: 40px;
}


.banner-img {
  position: relative;
  margin-bottom: 40px;
  min-height: 500px;
  width: 100%;
  background-image: url("../../static/images/homepage_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.container .advanced-search {
  position: absolute;
  padding: 5px 40px 20px 40px;
  right: 8%;
  top: 5%;
  background-color: #fff;
  box-shadow: 0px 16px 64px -8px rgba(46, 55, 77, 0.2);
}

.advanced-search h3 {
	padding-left: 0;
	padding-bottom: 15px;
	margin-bottom: 10px;
	color: #222;
}

.advanced-search .form-control {
	border: none;
	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
	border-radius: 0;
	border-bottom: 1px solid #d9534f;
	background: transparent;
	outline: none;
	color: black;

}


.advanced-search .form-control:focus {
	border-color: transparent;
	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
  	border-bottom: 1px solid #d9534f;
}

.advanced-search label {
	display: inline-block;
}

.advanced-search select {
	-webkit-appearance: none;
  	-webkit-border-radius: 0px;
}

ul.live-events {
	margin-top: 35px;
}


.thumbnail {
	padding: 0;
	margin-bottom: 35px;
}

.thumbnail img {
	width: 100%;
	height: auto;
}

.thumbnail:hover {
	box-shadow: 0 16px 64px -16px rgba(46,55,77,.24);
	transition: box-shadow 0.2s ease-out;
}


.caption .event-title,
.caption .event-location,
.caption .user-company {
	white-space: nowrap;
  	overflow: hidden;
	text-overflow: ellipsis;
}



/*CSS for event blueprint*/
.event-page-header {
	width: 100%;
	min-height: 300px;
	border: 1px solid transparent;
}


.event-page-header .main-event-image img{
	width: 70%;
	height: 300px;
	float: left;
	display: inline-block;
}



.event-page-sidebar-top {
	width: 30%;
	max-height: 300px;
	position: relative;
	float: right;
	display: inline-block;
}

.event-page-sidebar-top .event-title {
	font-size: 20px;
	margin-top: 10px;
}

.event-page-sidebar-top .event-datetime {
	font-size: 16px;
}

.event-page-sidebar-top .nav {
	min-height: 300px;
	padding: 20px 20px 0 20px;
	background-color: #eee;
}

.event-page-sidebar-top .price-range {
	font-size: 16px;
}

.event-page-sidebar-top .price-range {
	font-size: 16px;
}

.event-page-sidebar-top .event-organizer {
	margin-bottom: 25px;
}

.event-page-sidebar-top .save {
	display: inline-block;
}

.event-page-sidebar-top #editEvent {
	display: block;
	margin-top: 10px;
}

.event-page-sidebar-top #editEvent a {
	padding-right: 15.5px;
	padding-left: 15.5px;
}

.event-page-sidebar-bottom {
	width: 30%;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	float: right;
	display: inline-block;
}

.event-page-sidebar-bottom h4 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.event-page-sidebar-bottom .event-datetime {
	margin-bottom: 25px;
}


.event-page-sidebar-bottom p {
	margin-bottom: 0; 
}

.event-page-sidebar-bottom .nav {
	height: 100vh;
}

.event-tabs .nav {
	width: 70%;
	margin-top: 8px;
	float: left;
	display: inline-block;
}

.event-tabs #btnSidebar {
	width: 30%;
	height: 50px;
	float: right;
	position: relative;
	display: flex;
	border-bottom: 1px solid #ddd;
}

.event-tabs #packageBtn {
	width: 88%;
	margin: auto;
}


.event-page-body {
	margin-top: 30px;
}

.event-page-content {
	width: 70%;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	display: inline-block;
}

.event-page-content h4 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.event-page-content .event-description, 
.event-page-content .event-pitch,
.event-page-content .event-audience, 
.event-page-content .event-media {
	margin-bottom: 40px;
}

.event-page-content .event-audience p {
	display: inline;
}

#onResize {
	padding-bottom: 10px;
	border: 1px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

#onResize p:first-child {
	margin-top: 10px;
	margin-left: auto
	margin-right: auto
	font-size: 18px;
}

#onResize p:nth-child(2) {
	font-size: 16px;
}

#onResize div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 10px;
}

#onResize div .btn-primary{
	margin-right: 10px;
}

#eventFooter {
	border-top: 1px solid #ddd;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 12px;
	padding-bottom: 12px;
}

#eventFooter div {
	font-size: 18px;
}

#eventFooter .btn {
	margin-top: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 40%;
}

.panel-group .panel {
  margin-bottom: 10px;
}

.panel-title {
	display: inline-block;
	width: 100%;
}

.panel-body span {
	font-size: 14px;
	margin-left: 10px;
}

#packageQuantity, #total{
	float: left;
	padding: 6px 12px;
	display: inline-block;
	font-size: 16px;
}

#packageQuantity {
	margin-right: 100px;
}

#salesEnded {
	float: right;
}

#salesEnded a {
	pointer-events: none;
}

.event-media .event-video {
	width: 67%;
}

.event-media .event-video iframe {
	width: 100%;
	margin-bottom: 15px;
}

.event-media .misc-images  {
	width: 67.3%;
}

.event-media .misc-images img {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.container.panel-container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	width: 70%;
}

.no-search-results {
	margin-top: 45px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
}

.no-search-results img {
	margin-left: auto;
	margin-right: auto;
}

.no-search-results p {
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
}





.packages {
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}

.packages .page-header {
	margin-top: 20px;
	margin-bottom: 40px;
	padding-bottom: 18px;
}

.add-packages {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 40vh;
}

.add-packages h3 {
	margin-bottom: 20px;
}

.display-packages button {
	float: right;
	margin-right: 20px;

}

.publish-event {
	float: right;
	
}

.no-link-styling,
.no-link-styling:hover,
.no-link-styling:active,
.no-link-styling:focus,
.no-link-styling:visited
 {
	color: #222;
	text-decoration: none;

}

ul.package-list {
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 0;
  width: 100%;
  display: inline-block;
}

ul.package-list li.package,
ul.event-list li.event,
ul.sponsorship-list li.sponsorship,
ul.event-panels li.event-panel {
	border-bottom: 1px solid #e0e0e0;
	position: relative;
	height: auto;
	min-height: 100%;
}

ul.package-list li.package:hover,
ul.event-list li.event:hover,
ul.sponsorship-list li.sponsorship:hover,
ul.event-panels li.event-panel:hover {
	cursor: pointer;
	box-shadow: 0 4px 15px 0 rgba(40,44,53,.06), 0 2px 2px 0 rgba(40,44,53,.08);
	transition: box-shadow 0.3s ease-in;

}

ul.event-panels {
	margin-top: 45px;
}

li.package div.dropdown,
li.event div.dropdown,
li.sponsorship div.dropdown,
li.event-panel div.dropdown {
	float: right;
	padding-right: 35px;
	position: absolute;
	top: 50%;
	left: 95%;
	margin-top: -22px;
	margin-left: -40px;
	z-index: 200;
}

span.vertical-ellipsis {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  color: black;
  float: right;
  background-color: #fff;
  height: 42px;
  width: 42px;
  border-radius: 50%;

}

span.vertical-ellipsis:hover {
  background-color: #F0F0F0;
  transition: background-color 0.3s ease-in;
}

span.vertical-ellipsis:active {
  background-color: #E8E8E8;
  transition: background-color 0.3s ease-in;
}

div.dropdown ul.ellipsis-menu {
  position: absolute;
  left: -135%;
  top: auto;
}

.package-content,
.event-content,
.event-panel-content,
.sponsorship-content {
	margin-right: 80px;
	padding: 18px 0 18px 35px;
	height: auto;
	word-wrap: break-word;
}

.event-title {
	margin-top: 15px;
}



.sponsorship-details h4.event-title:hover {
	text-decoration: underline;
}



.package-details, 
.event-details,
.sponsorship-details {
	margin-right: 50%;
	word-wrap: break-word;
}

.packages-purchased,
.package-price,
.package-type,
.sponsorship-amount {
	/*color: #6f7287;*/
	font-size: 15px;
}


.packages-purchased {
	float: right;
	position: absolute;
	top: 60%;
	left: 55%;
	margin-top: -22px;
	margin-left: -40px;
}

.package-price {
	float: right;
	position: absolute;
	top: 60%;
	left: 75%;
	margin-top: -22px;
	margin-left: -40px;
}

ul.event-list,
ul.sponsorship-list {
  list-style-type: none;
  margin-bottom: 30px;
  padding-left: 0;
  width: 100%;
  display: inline-block;
}


.manage-container {
	margin: 30px auto 30px auto;
	width: 70%;
	padding-left: 20px;
	padding-right: 20px;
}

.manage-container .page-header {
	margin-top: 55px;
	margin-bottom: 30px;
}

.container.saved-events {
	width: 70%;
	padding-left: 20px;
	padding-right: 20px;
}

.manage-forms label {
	display: none;
}

.event-list-headers,
.sponsorship-list-headers {
	position: relative;
	height: 50px;
	margin-top: 30px;
	background-color: #f8f7fa;
}

.event-list-headers .row div:first-child,
.sponsorship-list-headers .row div:first-child {
	position: absolute;
	top: 25%;
	left: 2%;
	font-size: 16px;
	font-weight: bold;
}

.event-list-headers .row div:last-child,
.sponsorship-list-headers .row div:last-child {
	position: absolute;
	top: 25%;
	left: 58%;
	font-size: 16px;
	font-weight: bold;
	margin-left: -40px;
}

.event-content .packages-purchased,
.sponsorship-content .sponsorship-amount {
	float: right;
	position: absolute;
	top: 60%;
	left: 60%;
	margin-top: -22px;
	margin-left: -40px;
}


.modal.fade:not(.in) .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}

.modal-header h3 {
	display: inline;
}

.modal-header button {
	padding-top: 5px;
}

.modal-body {
	margin-bottom: -15px;
}

.purchase .page-header .event-datetime {
	font-size: 16px;
}

td {
  white-space: normal !important; 
  word-wrap: break-word;  
}
table {
  table-layout: fixed;
}

.panel-body .company {
	white-space: nowrap;
  	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 0;
}

.panel-body .location p {
	margin-bottom: 0;
}

.panel .organizer-details {
	margin-top: -10px;
	padding: 0 15px 15px 15px;
	border-bottom: 1px solid #ddd;
}

.panel .organizer-details button {
	display: block;
	margin-bottom: 15px;
}

.panel .events {
	padding: 15px;
}

.panel .events #upcomingEvents {
	margin-bottom: 10px;
}

#upcomingEvents, 
#pastEvents,
#viewProfile {
	display: block;
}

#contactOrganizer {
	display: block;
	width: 80%;
}



@media (max-width: 768px) {
	.container {
		padding-right: 30px;
		padding-left: 30px;
	}
	.container.purchase {
		padding-left: 30px;
		padding-right: 30px;
		margin-left: auto;
		margin-right: auto;
	}
	.container.user-container .page-header img {
		position: relative;
		width: 50%;
	}
	.container.user-container .profile-header {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	.profile-tabs li {
		float: left;
    	width: 50%;
	}
	.profile-tabs li a {
		padding-left: 7px;
		padding-right: 7px;
	}
	.advanced-search {
		display: none;
	}
   
    .remove-profile-image-form .btn,
    #editProfilePhoto {
    	width: 40%;
    }
    .event-media .event-video {
		display: none;
	}
	.event-page-header .main-event-image img{
		width: 100%;
		height: auto;
	}
	.event-page-sidebar-top {
		display: none;
	}
	
}



@media (max-width: 500px) {
	.profile-tabs #pastSponsorship a {
		padding-left: 17px;
	}

}







