{% extends "site_base.html" %}

{% block title %}Sponsormatch - {{ event.title }}{% endblock %}
{% block page_content %}
<div id="{{ event.id }}" class="container purchase-page px-4-plus">
	<header class="py-4 my-4">
		<h2 class="mb-3">{{ event.title }} , {{ event.start_date("%b %-dth") }} - {{ event.end_date("%-dth %Y") }} </h2>
		<p>by <a class="link-blue" href="{{ url_for('users.user_profile', company=event.user.company) }}"
				target="_blank">{{ event.user.company }}</a></p>
		<p>{{ event.start_date("%A, %b %-d, %Y") }} at {{ event.start_time("%-I:%M %p") }} -
			{{ event.end_date("%A, %b %-d, %Y") }} at {{ event.end_time("%-I:%M %p") }}</p>
	</header>

	<main class="row">
		<div class="col-12 col-lg-7">
			<div class="card mb-4">
				<div class="card-header card-header-blue">
					<h5 class="custom-font-semibold font-120">Order Summary</h5>
				</div>
				<div class="card-body">
					<!-- Table -->
					<table class="table table-responsive table-responsive-sm table-responsive-md table-responsive-lg">
						<thead>
							<tr>
								<th class="custom-font-semibold" scope="col">Package Name</th>
								<th class="custom-font-semibold" scope="col">Price</th>
								<th class="custom-font-semibold" scope="col">Fee</th>
								<th class="custom-font-semibold" scope="col">Quantity</th>
								<th class="custom-font-semibold" scope="col">Subtotal</th>
							</tr>
						</thead>
						<tbody>
							{% for package in session["PENDING_ORDER#" + current_user.id | string + "#" +  event.id | string] %}
							<tr>
								<td>{{ package["name"] }}</td>
								<td>${{ package["price"] }}</td>
								<td>{{ "${:,.2f}".format(package["price"] | float * 0.15) }}</td>
								<td>1</td>
								<td class="subtotal">{{ "${:,.2f}".format(package["price"] | float * 1.15) }}
								</td>

							</tr>
							{% endfor %}
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td class="custom-font-semibold">Sales Tax:</td>
								<td id="salesTax"></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td class="custom-font-semibold">Order total:</td>
								<td id="orderTotal"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>


		<div class="col-12 col-lg-5">
			<div class="card mb-4">
				<div class="card-header card-header-blue">
					<h5 class="custom-font-semi-bold font-120">When & Where</h5>
				</div>
				<div class="card-body">
					<div>
						<h5 class="custom-font-semibold font-120">{{ event.venue.name }}</h5>
						<p class="mb-0">{{ event.venue.address }}</p>
						<p>{{ event.venue.city }}, {{ event.venue.state }} {{ event.venue.zip_code }}</p>
					</div>
					<div>
						<p>{{ event.start_date("%A, %b %-d, %Y") }} at {{ event.start_time("%-I:%M %p") }} -
							{{ event.end_date("%A, %b %-d, %Y") }} at {{ event.end_time("%-I:%M %p") }}</p>
					</div>
				</div>
			</div>
			<div id="organizer" class="card mb-4">
				<div class="card-header card-header-blue">
					<h5 class="custom-font-semibold font-120">Organizer</h5>
				</div>
				<div class="card-body">
					<h5 class="custom-font-semibold font-120">{{ event.user.company }}</h5>


					<a id="{{ event.user.company }}" class="view-profile d-block mb-3"
						href="{{ url_for('users.user_profile', company=event.user.company) }}" target="_blank">View
						Organizer Profile</a>

					<div>
						<a class="d-block mb-2" id="upcomingEvents">
							<span class="badge badge-primary-override mr-2">
								{{ event.user.num_events_hosted(EventStatus.LIVE) }}
							</span>
							<span>Upcoming Events</span>
						</a>
						<a class="d-block" id="pastEvents">
							<span class="badge badge-primary-override mr-2">
								{{ event.user.num_events_hosted(SponsorshipStatus.PAST) }}
							</span>
							<span>Past Events</span>

						</a>
					</div>
				</div>
			</div>
			<!-- Payment form -->
			<div class="mb-4">
				<form id="payment-form" class="stripe-form ">
					<div id="card-element">
						<!--Stripe.js injects the Card Element here-->
					</div>
					<button id="submit" class="stripe-button">
						<div class="spinner hidden" id="spinner"></div>
						<span id="button-text">Pay</span>
					</button>
					<p id="card-error" role="alert"></p>
					<p class="result-message hidden">
						Payment succeeded! Redirecting you to the homepage.
					</p>
				</form>
			</div>

		</div>

	</main>



</div>

{% endblock %}


{% block scripts %}
{{ super() }}
<script src="https://js.stripe.com/v3/"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="{{ url_for('static', filename='js/stripe_client.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/checkout.js') }}"></script>
{% endblock %}