{% extends "site_base.html" %}

{% block title %}Payment Success{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row justify-content-center align-items-center vh-70">
        <div class="col-md-8">
            <h1 class="text-center mb-4">Thanks for subscribing to Sponsormatch!</h1>
            <p>
                We appreciate your business! If you have any questions, please email us at
                <a href="mailto:info@sponsormatch.com">info@sponsormatch.com</a>
            </p>
            <p>You will be redirected to the homepage shortly</p>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript"></script>
{% endblock %}