/*CSS that is applied globally */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); */


@font-face {
	font-family: 'Source Sans Pro Regular';
	src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

@font-face {
	font-family: 'Source Sans Pro Semi Bold';
	src: url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}

@font-face {
	font-family: 'Source Sans Pro Regular Italic';
	src: url('../fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf');
}


:root {
	--primary-color-override: #2fb7ec;
	--primary-color-hover: rgb(0, 152, 211);
	--dark-color-override: #1a2b33;
	--dark-color-second: #333;
	--orange-color: #d1410c;
	--site-bg-color: #f0f5f7;
	--light-color-override:#e5e9ef;
	--dark-medium-color: #5f6368;
	--medium-color-override: #7e9aa6;
	--light-gray: #323d42;
}

body {
	background: var(--site-bg-color);
	color: var(--dark-color-override);
	font-family: 'Source Sans Pro Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}


/* Visibility */
.hidden {
	display: none;
}

.overflow-x-hidden {
	overflow-x: hidden !important;
}


/* Badges */
.badge {
	font-size: 85%;
	padding :0.2rem 0.4rem;
	border-radius: 50%;
}

.badge-primary-override {
	color: #fff;
	background-color: var(--primary-color-override);
}
a.badge-primary-override:hover, a.badge-primary-override:focus {
	color: #fff;
	background-color: var(--primary-color-hover)
}

a.badge-primary-override:focus, a.badge-primary-override.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
  

/* Flexbox */

.flex-1 {
	flex: 1 !important;
}

.flex-2 {
	flex: 2 !important;
}

.flex-3 {
	flex: 3 !important;
}

.flex-4 {
	flex: 4 !important;
}


/* Borders and shadows */
.border-bottom {
	border-bottom: 1px solid #dee2e6 !important;
}


.border-x {
	border-left: 1px solid #dee2e6 !important;
	border-right: 1px solid #dee2e6 !important;
}

.border-top {
	border-top: 1px solid #dee2e6 !important;
}

.border-left {
	border-left: 1px solid #dee2e6 !important;
}

.border-none {
	border: none !important;
}

.card-shadow {
	box-shadow: 0 0 0 1px #e3e8ee;
}

  
.shadow-light-bottom-inset {
	box-shadow: inset 0 -1px #e3e8ee;
}

/* Navbars */
.navbar {
	min-height: 4rem;
}

.navbar.navbar-light {
	box-shadow: 0 1px #e3e8ee;
}

.nav-tabs .nav-link {
	cursor: pointer;
}

.sidebar {
	position: fixed;
	width: auto;
	z-index: 9500;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	top: 0;
	bottom: 0;
	box-shadow: inset -1px 0 0 #e3e8ee;
	overflow-y : scroll;
	transform: translateX(-100%);
	transition: 0.3s transform ease;
}


.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 3rem);
	padding-top: 0.5rem;
	overflow-x: hidden;
	overflow-y: auto;
}


.sidebar .navbar-nav .nav-link {
	opacity: 0.85;
	color: var(--dark-color-override);
	transition: opacity 0.2s ease;
}

.sidebar .navbar-nav .nav-link:hover {
	opacity: 1;
}


.mobile-sidebar-nav{
	position: absolute;
	display: flex;
	justify-content: start;
	align-items: center;
	background: var(--primary-color-override);
	top: 3.5rem;
	left: 0;
	right: 0;
	box-shadow: 0 1px 8px 0 rgba(0,0,0, 0.15), 
	0 2px 2px 0 rgba(0,0,0, 0.15);
}

.sidebar-toggler {
	position: relative;
	cursor: pointer;
	padding: 0.25rem 0.75rem;
	height: 2.5rem;
	width: 2.5rem;
	background: inherit;
	color: #fff;
	border-radius: 0.25rem;
	border: transparent;
	line-height: 1;
	z-index: 200;
}

.sidebar-toggler:hover {
	color: var(--light-color-override);
}

.sidebar-toggler:focus {
	outline: none;
	border: none;
}

.sidebar-toggler-bar {
	position: absolute;
	background: #fff;
	left: 0.5rem;
	right: 0.5rem;
	height: 3px;
}

.sidebar-toggler .sidebar-toggler-bar:first-child {
	top: 30%;
}

.sidebar-toggler .sidebar-toggler-bar:nth-child(2) {
	top: 50%;
}

.sidebar-toggler .sidebar-toggler-bar:last-child {
	top: 70%;
}



/* Arrow to close sidebar */
.close-sidebar {
	position: absolute;
	top: 1rem;
	right: 2rem;
}

.show-sidebar {
	transform: translateX(0);
}


/* Spacing */

.pl-4-plus {
	padding-left: 2rem !important;
}

.px-4-plus {
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}

.px-5-plus {
	padding: 4rem !important;
}

.mb-4-plus {
	margin-bottom: 2rem !important;
}

.mb-5-plus {
	margin-bottom: 4rem !important;
}

.mb-6 {
	margin-bottom: 5rem !important;
}

.mt-5-plus {
	margin-top: 4rem !important;
}

.extra-mb {
	margin-bottom: 18rem;
}

/* Sizes */

.vh-40 {
	height: 40vh !important;
}

.vh-70 {
	height: 70vh !important;
}

.h-85 {
	height: 85% !important;
}


/* Alerts */
.alert-danger {
	background-color: #f8d7da;
}

.alert {
	position: fixed;
	width: 100%;
	z-index: 800;
  }


/* Dropdowns */
.dropdown-item:hover, .dropdown-item:focus {
	background-color: rgba(222, 241, 248, 0.8);
	color: rgb(0, 115, 255);
	
	
}

.dropdown-item.active, .dropdown-item:active {
	color: rgb(0, 115, 255);
	
    background-color: rgba(222, 241, 248, 0.8);
}



/* Search Bar */
.has-search {
	position: relative;
}

.has-search .form-control {
	padding-left: 2.375rem;
}

.has-search .form-control::placeholder { 
	color: rgba(0, 0, 0, 0.4); 
} 

 /* WebKit, Blink, Edge */
.has-search .form-control::-webkit-input-placeholder { 
	color: rgba(0, 0, 0, 0.4); 
} 

 /* Mozilla Firefox 4 to 18 */
.has-search .form-control:-moz-placeholder { 
	color: rgba(0, 0, 0, 0.4);
} 

 /* Mozilla Firefox 19+ */
.has-search .form-control::-moz-placeholder { 
	color: rgba(0, 0, 0, 0.4);
 } 


 /* Internet Explorer 10-11 */
.has-search .form-control:-ms-input-placeholder { 
	color: rgba(0, 0, 0, 0.4);
} 
 /* Microsoft Edge */ 
.has-search .form-control::-ms-input-placeholder { 
	color: rgba(0, 0, 0, 0.4);
} 


.has-search.form-group svg {
	position: absolute;
    z-index: 100;
    display: block;
    width: 1rem;
	height: 1rem;
	left: 0.5rem;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.8);
}


/* Bootstrap Form Style Overrides */

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
	box-shadow: none;
}

.form-control:focus {
	border-color: #80bdff;
	box-shadow: 0 0 0 0.13rem rgba(0, 123, 255, 0.25);
  }

.no-labels label{
	display: none;
}

.labels-bold label {
	font-family: 'Source Sans Pro Semi Bold', sans-serif;
	font-weight: 700;
}

/* Background */
.bg-white {
	background: #fff !important;
}

.bg-site {
	background: var(--site-bg-color) !important;
}

.bg-primary {
	color: #fff;
	background: var(--primary-color-override) !important;
}




.bg-overlay-dark {
	position: fixed;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: transparent;
	opacity: 0;
	z-index: -1;
	transition: all 0.3s ease;
}

.bg-overlay-dark.show {
	opacity: 0.6;
	background: var(--dark-color-override);	
	z-index: 9000;
}


/* Text and Fonts */
.text-white {
	color: #fff;
}
.text-primary-override {
	color: var(--primary-color-override);
}

.text-primary-override:hover {
	color: var(--primary-color-hover);
}

.text-dark-medium {
	color: var(--dark-medium-color);
}

.text-dark-override {
	color: var(--dark-color-override);
}

.text-dark-second {
	color: var(--dark-color-second);
}

.text-orange {
	color: var(--orange-color);
}

a.text-dark-override:hover {
	color: #3388e4;
	text-decoration: underline;
}

.link-blue {
	/* color: #3d97f8; */
	color: #2f90f7;
}

.link-blue:hover {
	color: #3d97f8;
	text-decoration: underline;
}

.icon-link {
	transition: opacity 0.3s ease;
}

.icon-link:hover {
	opacity: 0.8;
}

.page-item.active .page-link {
	background: var(--primary-color-override);
	border-color: var(--primary-color-override);
}

.page-link {
	color: var(--dark-color-second);
}

.no-link-styling,
.no-link-styling:hover,
.no-link-styling:active,
.no-link-styling:focus,
.no-link-styling:visited
 {
	color: var(--dark-color-override);
	text-decoration: none;

}


.text-overflow-ellipsis {
	text-overflow: ellipsis !important;
}

.font-120 {
	font-size: 1.2rem !important;
}

.font-150 {
	font-size: 1.5rem !important;
}

.custom-font-semibold {
	font-family: 'Source Sans Pro Semi Bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.custom-font-italic {
	font-family: 'Source Sans Pro Regular Italic', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;;
}

/* Buttons */
.btn-primary-override {
	color: #fff;
	background: var(--primary-color-override);
}

.btn-primary-override:hover {
	color: #fff;
	background: var(--primary-color-hover);
}

.btn-group {
	flex-direction: column !important;
	align-items: center;
	width: 100%;
}

.btn-group * {
	margin-bottom: 0.5rem;
	width: 100%;
}


/* Other */
.no-pointer-events {
	pointer-events: none !important;
}

.cursor-pointer {
	cursor: pointer !important;
}



/* Media Queries */


@media (min-width: 1024px) {
	.flex-grow-lg-30 {
		flex: 30% 0 0;
	}
	
	.text-right-lg {
		text-align: right !important;
	}
	.sidebar {
		top: 3rem;
		z-index: 500;
		overflow-y: hidden;
		transform: translateX(0);
	}
	.mobile-sidebar-nav {
		display: none !important;
	}
	.close-sidebar {
		display: none;
	}
	.edit-event-content, .settings-content {
		padding-top: 3rem !important;	
	}
	.edit-event-content.demographics > * {
		padding-top: 0 !important;
	}
	.event-card-grid {
		grid-template-columns: 1fr 1fr 1fr !important;
	}
	.user-info {
		padding-left: 3rem !important;
	}
}


@media (min-width: 768px) {
	.img-fluid.video {
		height: 17.5rem !important;
	}
	.event-page-content {
		padding-bottom: 3rem !important;
	}

	.event-page-sidebar {
		border-top: none !important;
		border-left: 1px solid #dee2e6 !important;
	}
	.event-card-grid {
		grid-template-columns: 1fr 1fr !important;
	}
	.horizontal-card-image-wrapper {
		flex: 1 1 30% !important;
		max-width: 30% !important;
		margin-bottom: 0 !important;
	}

	.horizontal-card-body {
		flex: 1 1 70% !important;
		max-width: 70% !important;
		padding-left: 1rem !important;
    	padding-top: 0.5rem !important;
	}
	.user-card-grid {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
	}
	
}




@media (min-width: 330px) {
	.btn-group {
		flex-direction: row !important;
		width: initial;
	}

	.btn-group *:not(:first-child) {
		margin-left: 1rem;
	}

	.btn-group * {
		margin-bottom: 0;
		width: initial;
	}
}

/* This is down here so that the above styles don't override the
event-card style */
@media (min-width: 1200px) {
	.event-card-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr !important;
	}
}


@media (min-width: 1600px) {
	.col-dxl-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}
}


/* Auth Blueprint Specific Styles */
.subscription-message {
	line-height: 1.7;
	font-size: 1.1rem;
}

/*Settings Blueprint Specific Styles */
.settings-card-header {
	font-size: 1.4rem;
}

.settings-content {
	position: absolute;
	right: 0;
	padding-top: 5rem;
}

.settings-page {
	height: 100vh;
}

/* Event Blueprint Specific Styles */
.edit-event-content {
	position: absolute;
	right: 0;
	padding-top: 5rem;
}

.edit-event-content .packages-page-header {
	margin-bottom: 1rem !important;
}

.edit-event-content .packages-page-header > * {
	padding-bottom: 1rem;
}



.horizontal-card {
	position: relative;
  	display: -ms-flexbox;
  	display: flex;
  	-ms-flex-direction: column;
	flex-direction: column;
	flex-wrap: wrap;
  	min-width: 0;
  	word-wrap: break-word;
  	background-color: #fff;
  	background-clip: border-box;
  	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.5rem;
	transition: box-shadow, transform 0.3s cubic-bezier(.38, 0, .25, .90);
}

.horizontal-card:hover {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-0.2rem);
    -ms-transform: translateY(-0.2rem);
    transform: translateY(-0.2rem);
}

.horizontal-card img {
	transition: opacity 0.3s cubic-bezier(.38, 0, .25, .90);
}

.horizontal-card:hover img {
	opacity: 0.8;
}


.horizontal-card-body {
	flex: 1 1 100%;
	max-width: 100%;
}

.horizontal-card-image-wrapper {
	display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow: hidden;
	flex: 1 1 100%;
	max-width: 100%;
	margin-bottom: 1rem;
}

.horizontal-card-image-wrapper img {
	object-fit: cover;
	height: 100%;
	border-radius: 0.5rem;
	max-width: 100%;
}


.horizontal-card-icons {
	position: absolute;
	right: 1rem;
	bottom: 0.75rem;
}




.event-page-content {
	padding-bottom: 0;
	
}

.event-page-sidebar {
	border-top: 1px solid #dee2e6;
	border-left: none;
}



.card-header-blue,
.card-header-blue a {
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

#salesEnded a {
	pointer-events: none;
}

.event-card-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;
}



.event-card {
	border-radius: 0.5rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	transition: box-shadow, transform 0.3s cubic-bezier(.38, 0, .25, .90);
}

.event-card-title {
	color: var(--orange-color);
}

.event-card img {
	border-radius: 0.5rem 0.5rem 0 0;
}

.event-card:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 3px 5px 4px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-0.2rem);
    -ms-transform: translateY(-0.2rem);
    transform: translateY(-0.2rem);
}

.event-card a {
	transition: opacity 0.3s cubic-bezier(.38, 0, .25, .90);
}

.event-card a:hover {
	opacity: 0.85;
}

/* User blueprint specific styles */
.user-card-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.5rem;
}

.user-card {
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
  	flex-direction: column;
  	min-width: 0;
  	word-wrap: break-word;
  	background-color: #fff;
  	background-clip: border-box;
  	border: 1px solid rgba(0, 0, 0, 0.125);
  	border-radius: 0.5rem;
	transition: box-shadow, transform 0.3s cubic-bezier(.38, 0, .25, .90);
}

.user-card:hover {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-0.2rem);
    -ms-transform: translateY(-0.2rem);
    transform: translateY(-0.2rem);
}

.user-card img {
	border-radius: 0.5rem 0.5rem 0 0;
	transition: opacity 0.3s cubic-bezier(.38, 0, .25, .90);
}

.user-card:hover img {
	opacity: 0.8;
}

.user-avatar {
	display: block;
	max-height: 200px;
	max-width: 200px;
}

.user-info {
	padding-left: 0;
}


/* Payments blueprint specific styles */
td {
	white-space: normal !important; 
	word-wrap: break-word;  
  }

table {
table-layout: fixed;
}
  

  


/* Main blueprint specific styles */


.hero {
	position: relative;
	width: 100%;
	min-height: 30rem;
	background-image: url("../images/default_event_image13.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 300;
}

.hero::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.2);
	z-index: -1;
 }

.advanced-search-form {
	border-radius: 0.25rem;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
	0 2px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
 }

.advanced-search-form-title {
    color: rgb(25, 42, 50);
}

.advanced-search-form .form-control {
	border: none;
	border-radius: 0.25rem;
	height: 3rem;
	background: var(--site-bg-color);
	outline: none;
	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;

}

.advanced-search-form input::placeholder {
	color: rgb(25, 42, 50);
}


.advanced-search-form .form-control:focus {
  color: #495057;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 3px 2px rgba(47, 183, 236, 0.5);
  	
}

.advanced-search-form label {
	display: none;
}

.advanced-search-form select {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}


