<div class="event-description">
	<h4>Description</h4>
	<p>{{ event.description }}</p>
</div>
	
<div class="event-pitch">
	<h4>Pitch</h4>
	<p>{{ event.pitch }}</p>
</div>
<div class="event-audience">
	{% if event.attendess or event.male_to_female %}
		<h4>Audience</h4>
		{% if event.attendees %}
			<p>{{ event.attendees }} people are expect to attend this event.</p>	
		{% endif %}

		{% if event.male_to_female %}
			<p>The ratio of males to females will be {{ event.male_to_female }}</p>
		{% endif %}
	{% endif %}
</div>
<div class="event-media">
	{% if other_media.get("video") or other_media.get("misc_images") %}
		<h4>Media</h4>
		<div class="event-video">
			{% if other_media.get("video") %}
				<iframe src="{{ other_media.get('video').url }}" width="510" height="280" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			{% endif %}
		</div>
		<div class="misc-images">
			{% for image_path in other_media.get("misc_image_paths") %}
				<img src="{{ url_for('static', filename=image_path) }}" alt="Other Event Image">
			{% endfor %}
		</div>
	{% endif %}
</div>
<button id="openModalBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactModal">
  Contact
</button>
