<div class="row justify-content-center justify-content-xl-start">
	<ul class="col-12 list-unstyled">
		{% for event in events %}
		<li id="{{ event.id }}" class="card horizontal-card bg-white mb-3 py-3 px-4">
			<a class="no-link-styling" href="{{ url_for('events.event', id=event.id) }}">
				<div class="row">
					<div class="col-md-6">
						<p>{{ event.start_date("%a, %b %-d") }},
							{{ event.start_time("%-I:%M %p") }}</p>
						<h3>{{ event.title }}</h3>
						<p>{{ event.venue.name }}, {{ event.venue.city }},
							{{ event.venue.state }}</p>
					</div>
				</div>
				<div class="d-flex flex-wrap align-items-center justify-content-between">

					<div class="d-flex align-items-center">
						<a class="icon-link" href="{{ url_for('events.event', id=event.id) }}">
							View
						</a>
						{% if endpoint == "events.saved_events" %}
						<a class="remove-event" href="#">
							Remove
						</a>
						{% else %}
						{% if current_user.can(Permission.SPONSOR_EVENT) %}
						<a class="save-event" href="#">Remove</a>
						{% endif %}
						{% endif %}
					</div>
				</div>

			</a>
		</li>
		{% endfor %}
	</ul>
</div>