<div id="eventPanels" class="row justify-content-center justify-content-xl-start">
	<ul class="col-12 list-unstyled">
		{% for main_image, event in events %}
		{% if main_image %}
		{% set src=url_for('static', filename=main_image) %}
		{% else %}
		{% set src=url_for('static', filename='images/default_event_image12.jpeg') %}
		{% endif %}
		<li id="{{ event.id }}" class="horizontal-card bg-white mb-4 p-3">
			<a class="no-link-styling flex-column flex-md-row d-flex" href="{{ url_for('events.event', id=event.id) }}">
				<div class="horizontal-card-image-wrapper">
					<img src="{{ src }}" alt="Main Event Image">
				</div>

				<div class="horizontal-card-body">
					<p class="mb-2 text-orange">{{ event.start_date("%a, %b %-d") }},
						{{ event.start_time("%-I:%M %p") }}</p>
					<h5 class="custom-font-semibold">{{ event.title }}</h5>
					<p>{{ event.venue.name }}, {{ event.venue.city }},
						{{ event.venue.state }}</p>
				</div>
				{% if endpoint == "events.saved_events" and current_user.can(Permission.SPONSOR_EVENT) %}
				<div class="horizontal-card-icons">

					<div class="d-flex align-items-center">
						<a class="remove-event icon-link" href="#">
							{{ utils.render_icon("trash", size="1.5rem", color="#dc3545")}}
						</a>
					</div>
				</div>
				{% endif %}

			</a>
		</li>
		{% endfor %}
	</ul>
</div>