<div class="modal fade" id="packageModal" tabindex="-1" role="dialog" aria-labelledby="packageModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header align-items-center">
                {% if current_user.can(Permission.SPONSOR_EVENT) and event.is_ongoing %}
                <h3 class="modal-title" id="packageModalTitle">Select Packages</h3>
                {% else %}
                <h3 class="modal-title" id="packageModalTitle">Packages</h3>
                {% endif %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="accordion" class="list-unstyled packages-accordion" role="tablist" aria-multiselectable="true">
                    {% for package in packages %}
                    <li class="card mb-3">
                        <div class="card-header card-header-blue" role="tab">
                            <h5 class="custom-font-semibold">
                                <a class="d-flex align-items-center" href="javascript:void(0);" role="button"
                                    data-parent="#accordion" data-toggle="collapse"
                                    data-target="#package_{{ package.id }}" aria-expanded="true"
                                    aria-controls="package_{{ package.id }}">
                                    <span class="plus-icon">{{ utils.render_icon("plus") }}</span>
                                    <span class="minus-icon d-none">{{ utils.render_icon("dash") }}</span>
                                    {{ package.name }}
                                </a>
                                {% if package.is_sold_out() %}
                                <span class="float-right custom-font-semibold">Sold Out</span>
                                {% endif %}
                            </h5>
                        </div>
                        <div id="package_{{ package.id }}" class="collapse" role="tabpanel">
                            <div class="card-body">
                                <p class="price">Price: ${{ package.price }}</p>
                                <p>Audience Reached: {{ package.audience }}</p>
                                <p>Description: {{ package.description }}</p>
                                <p>Available Packages: {{ package.num_for_sale() }}</p>
                                <p>Package Type: {{ package.package_type }}</p>
                                {% if current_user.can(Permission.SPONSOR_EVENT) and event.is_ongoing() %}
                                {% if current_user.has_purchased(package) %}
                                <a class="btn btn-info select-package disabled" href="javascript:void(0);">Add</a>
                                <span class="custom-font-semibold">Already Purchased</span>
                                {% elif package.is_sold_out() %}
                                <a class="btn btn-info select-package disabled" href="javascript:void(0);">Add</a>
                                {% else %}
                                <a class="btn btn-info select-package" href="javascript:void(0);">Add</a>
                                {% endif %}
                                {% endif %}
                            </div>

                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="packageFooter" class="modal-footer">
                {% if current_user.can(Permission.SPONSOR_EVENT) and event.is_ongoing() %}
                <div id="packageQuantity">QTY: 0</div>
                <div id="total">USD $0.00</div>
                <a id="checkout" class="ml-auto btn btn-primary-override disabled" href="#">Checkout</a>
                {% else %}
                <button type="button" class="btn btn-primary-override" data-dismiss="modal">Close</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>