{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{% if event %}Basic Info{% else %}Create Event{% endif %}{% endblock %}

{% block page_content %}
<div class="{% if event %}edit-event-container{% else %}create-event-container{% endif %}">
	{% if event %}
		{{ macros.render_sidebar("event", event.title, event) }}
	{% endif %}
	<div class="{% if event %}edit-event-content{% endif %}">
		<div class="event-form-group">
			<form class="create-event-form" method="POST" action="{% if event %}{{ url_for('main.edit_basic_info', id=event.id) }}{% else %}{{ url_for('main.create_event') }}{% endif %}" role="form">
				{{ form.hidden_tag() }}
				{{ wtf.form_errors(form, hiddens="only") }}
				<div class="basic-info">
					<div class="row">
						<h2 class="col-md-12 form-header">Basic Info</h2>
					</div>
					<div class="row">
						<div class="col-md-12">
							{{ wtf.form_field(form.title) }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							{{ wtf.form_field(form.event_type) }}
						</div>
						<div class="col-md-6">
							{{ wtf.form_field(form.category) }}
						</div>
					</div>
				</div>

				<div class="location">
					<div class="row">
						<h2 class="col-md-12 form-header">Location</h2>
					</div>
					<div class="row">
						<div class="col-md-12">
							{{ wtf.form_field(form.venue_name) }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							{{ wtf.form_field(form.address) }}
						</div>
						<div class="col-md-6">
							{{ wtf.form_field(form.city) }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							{{ wtf.form_field(form.state) }}
						</div>
						<div class="col-md-6">
							{{ wtf.form_field(form.zip_code) }}
						</div>
					</div>
				</div>

				<div class="datetime">
					<div class="row">
						<h2 class="col-md-12 form-header">Date and Time</h2>
					</div>
					<div class="row">
						<div class="col-md-6">
							{{ wtf.form_field(form.start_date) }}
						</div>
						<div class="col-md-6">
							{{ wtf.form_field(form.start_time) }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							{{ wtf.form_field(form.end_date) }}
						</div>
						<div class="col-md-6">
							{{ wtf.form_field(form.end_time) }}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						{{ wtf.form_field(form.submit, button_map={"submit": "btn btn-primary"}) }}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
