{% extends "site_base.html" %}


{% block title %}
{% if event %}
Basic Info
{% else %}
Create Event
{% endif %}
{% endblock %}

{% block page_content %}

<div class="row">
    <nav class="col-md-4 col-lg-3 bg-white sidebar">
        <div class="close-sidebar">
            {{ utils.render_icon("arrow-left", size="1.5rem")}}
        </div>
        <div class="sidebar-sticky px-5">

            <h5 class="mb-3 font-150"><a class="text-dark-override text-overflow-ellipsis"
                    href="{{ url_for('events.edit_basic_info', id=event.id) }}">{{ event.title }}</a></h5>

            <div class="mb-3">
                {% if event.published %}
                <a class="link-blue" href="{{ url_for('events.event', id=event.id) }}">View Event</a>
                <span> | </span><a class="link-blue" href="{{ url_for('manage.manage_events', status='all') }}">Switch
                    Event</a>
                {% else %}
                <a class="link-blue" href="{{ url_for('manage.manage_events', status='all') }}">Switch Event</a>
                {% endif %}

            </div>
            <ul class="navbar-nav">
                <li class="nav-item d-flex align-items-center">
                    {{ utils.render_icon("text-paragraph", size="1.2rem") }}
                    <a class="nav-link font-120 pl-3" href="{{ url_for('events.edit_basic_info', id=event.id) }}">Basic
                        Info</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    {{ utils.render_icon("card-image", size="1.2rem")}}
                    <a class="nav-link font-120 pl-3" href="{{ url_for('events.event_details', id=event.id) }}">Event
                        Details</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    {{ utils.render_icon("people", size="1.2rem")}}
                    <a class="nav-link font-120 pl-3"
                        href="{{ url_for('events.demographics', id=event.id) }}">Demographics</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    {{ utils.render_icon("camera", size="1.2rem")}}
                    <a class="nav-link font-120  pl-3" href="{{ url_for('events.media', id=event.id) }}">Media</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    {{ utils.render_icon("box-seam", size="1.2rem") }}
                    <a class="nav-link font-120 pl-3" href="{{ url_for('events.packages', id=event.id) }}">Packages</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="edit-event-content col-md-10 col-lg-9 px-5 py-5">
        <div class="sidebar-toggler-wrapper">
            <button id="sidebarToggleBtn" class="sidebar-toggler" type="button" aria-label="Toggle sidebar">
                <span class="sidebar-toggler-bar"></span>
                <span class="sidebar-toggler-bar"></span>
                <span class="sidebar-toggler-bar"></span>
            </button>
        </div>
        <div class="d-flex align-items-center flex-column">
            <form method="POST"
                action="{% if event %}{{ url_for('events.edit_basic_info', id=event.id) }}{% else %}{{ url_for('events.create_event') }}{% endif %}"
                role="form">
                {{ form.hidden_tag() }} {{ wtf.form_errors(form, hiddens="only") }}
                <section class="mb-5">
                    <div class="d-flex align-items-center mb-4">
                        {{ utils.render_icon("text-paragraph", size="1.8rem", color="2fb7ec") }}
                        <h2 class="pl-4 mb-0">Basic Info</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ wtf.render_field(form.title) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ wtf.render_field(form.event_type) }}
                        </div>
                        <div class="col-md-6">
                            {{ wtf.render_field(form.category) }}
                        </div>
                    </div>
                </section>

                <section class="mb-5">
                    <div class="d-flex align-items-center mb-4">
                        {{ utils.render_icon("geo-alt-fill", size="1.7rem", color="2fb7ec")}}
                        <h2 class="pl-4 mb-0">Location</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ wtf.render_field(form.venue_name) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ wtf.render_field(form.address) }}
                        </div>
                        <div class="col-md-6">
                            {{ wtf.render_field(form.city) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ wtf.render_field(form.state) }}
                        </div>
                        <div class="col-md-6">
                            {{ wtf.render_field(form.zip_code) }}
                        </div>
                    </div>
                </section>

                <section class="mb-3">
                    <div class="d-flex align-items-center mb-4">
                        {{ utils.render_icon("calendar-date-fill", size="1.7rem", color="2fb7ec") }}
                        <h2 class="pl-3 mb-0">Date and Time</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ wtf.render_field(form.start_date) }}
                        </div>
                        <div class="col-md-6">
                            {{ wtf.render_field(form.start_time) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ wtf.render_field(form.end_date) }}
                        </div>
                        <div class="col-md-6">
                            {{ wtf.render_field(form.end_time) }}
                        </div>
                    </div>
                </section>
                {{ wtf.render_field(form.submit, button_map={"submit": "primary-override"}) }}
            </form>
        </div>
    </main>
</div>

{% endblock %}