{% extends "site_base.html" %}

{% block title %}{{ event.title }}{% endblock %}

{% block page_content %}
<div id="{{ event.id }}" class="container event-page pt-4">

	<div class="w-100 d-flex justify-content-center">
		{% if image_path %}
		<img class="img-fluid main-event-image" src="{{ url_for('static', filename=image_path) }}">
		{% else %}
		<img class="img-fluid main-event-image"
			src="{{ url_for('static', filename='images/default_event_image.png') }}">
		{% endif %}
	</div>

	<div class="d-flex flex-column align-items-center py-4 mb-4 event-info border-x border-bottom mx-auto bg-white">
		{% if event.is_ongoing() %}
		<p class="custom-font-semibold font-150 text-center text-dark-second">{{ event.title }}</p>
		{% else %}
		<p>{{ event.title }} (Event Ended)</p>
		{% endif %}
		<p>{{ event.price_range() }}</p>
		<p>{{ event.start_date("%A, %B %-d") }}</p>

		<p>by <a href="{{ url_for('users.user_profile', company=organizer.company) }}">{{ organizer.company }}</a>
		</p>
		<div>
			{% if current_user.can(Permission.SPONSOR_EVENT) %}

			<a class="btn btn-primary-override save-btn" href="{{ url_for('events.save_event', id=event.id) }}">Save
				Event</a>

			{% endif %}
			{% if current_user == event.user or current_user.is_administrator() %}

			<a class="btn btn-info" href="{{ url_for('events.edit_basic_info', id=event.id) }}">Edit Event</a>

			{% endif %}
		</div>
	</div>



	<ul class="d-flex nav nav-tabs">
		<li id="eventInfoTab" class="nav-item" role="presentation"><a class="nav-link active">Info</a></li>
		<li id="sponsorsTab" class="nav-item" role="presentation"><a class="nav-link">Sponsors <span
					class="badge badge-primary-override d-inline-block ml-2">{{ event.num_sponsors() }}</span></a>
		</li>
		{% if event.has_ended() %}
		<li id="salesEnded"><a class="no-link-styling" href="#">Sales Ended</a></li>
		{% endif %}
		<li class="ml-auto d-none d-md-block text-align-center col-md-4 px-4">
			<button id="packageBtn" type="button" class="btn btn-primary-override w-100" data-toggle="modal"
				data-target="#packageModal">
				Buy Packages
			</button>
		</li>
	</ul>



	<section class="row">
		{% include "events/_event_page_content.html" %}
		<aside class="col-12 col-md-4 py-5 px-4 event-page-sidebar">
			<div class="d-flex flex-column align-items-center align-items-md-start text-center text-md-left mb-3">
				<h4 class="custom-font-semibold font-120 mb-3">Date and Time</h4>
				<div class="d-flex flex-wrap justify-content-center justify-content-md-start">
					<p>{{ event.start_date("%a, %b %-d") }}, {{ event.start_time("%-I:%M %p") }} - </p>
					<p>{{ event.end_date("%a, %b %-d") }}, {{ event.end_time("%-I:%M %p") }}</p>
				</div>
			</div>
			<div class="d-flex flex-column align-items-center align-items-md-start text-center text-md-left ">
				<h4 class="custom-font-semibold font-120 mb-3">Location</h4>
				<p>{{ venue.name }}</p>
				<p>{{ venue.address }}</p>
				<p>{{ venue.city }}, {{ venue.state }} {{ venue.zip_code }}</p>
			</div>
		</aside>
		<div class="d-flex flex-column flex-md-row col-12 d-md-none mb-6 pb-4">
			<button id="openContactModalBtn" type="button"
				class="btn btn-info mb-5 col-6 col-md-2 align-self-center align-self-start" data-toggle="modal"
				data-target="#contactModal">
				Contact
			</button>
		</div>
	</section>


	<!-- Package Modal -->
	{% include "events/_package_modal.html" %}


	<!-- Contact Modal -->
	{% include "events/_contact_modal.html" %}
</div>
<footer class="border-top bg-white py-2 fixed-bottom d-block d-md-none">
	<div class="d-flex flex-column  justify-content-center align-items-center">
		<p class="font-120 custom-font-semibold">Buy Packages</p>
		<button id="packageBtn" type="button" class="btn btn-primary-override w-50" data-toggle="modal"
			data-target="#packageModal">
			Purchase
		</button>
	</div>
</footer>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/event.js') }}"></script>
{% endblock %}