{% extends "site_base.html" %}

{% block title %}{{ event.title }}{% endblock %}

{% block page_content %}
<div id="{{ event.id }}" class="container event-page">

	<header class="w-100 d-flex justify-content-center">
		{% if image_path %}
		<img class="img-fluid" src="{{ url_for('static', filename=image_path) }}">
		{% else %}
		<img class="img-fluid" src="{{ url_for('static', filename='images/default_event_image.png') }}">
		{% endif %}
	</header>

	<div class="d-flex flex-column align-items-center py-4 mb-4">
		{% if event.is_ongoing() %}
		<p class="custom-font-semibold font-150">{{ event.title }}</p>
		{% else %}
		<p>{{ event.title }} (Event Ended)</p>
		{% endif %}
		<p>{{ event.price_range() }}</p>
		<p>{{ event.start_date("%A, %B %-d") }}</p>

		<p>by <a href="{{ url_for('users.user_profile', company=organizer.company) }}">{{ organizer.company }}</a>
		</p>
		<div>
			{% if current_user.can(Permission.SPONSOR_EVENT) %}

			<a class="btn btn-primary-override save-btn" href="{{ url_for('events.save_event', id=event.id) }}">Save
				Event</a>

			{% endif %}
			{% if current_user == event.user or current_user.is_administrator() %}

			<a class="btn btn-info" href="{{ url_for('events.edit_basic_info', id=event.id) }}">Edit Event</a>

			{% endif %}
		</div>
	</div>
</div>

<ul id="scrollTo" class="nav nav-tabs">
	<li id="info" class="nav-item" role="presentation"><a class="nav-link active">Info</a></li>
	<li id="sponsors" class="nav-item" role="presentation"><a class="nav-link">Sponsors <span
				class="badge badge-primary-override d-inline-block ml-2">{{ event.num_sponsors() }}</span></a>
	</li>
	{% if event.has_ended() %}
	<li id="salesEnded"><a class="no-link-styling" href="#">Sales Ended</a></li>
	{% endif %}
	<li class="ml-auto">
		<button id="packageBtn" type="button" class="btn btn-primary-override" data-toggle="modal"
			data-target="#packageModal">
			Packages
		</button>
	</li>
</ul>

<section class="row">
	{% include "events/_event_page_content.html" %}
	<aside class="col-12 col-md-4 border-left p-5">
		<div class="d-flex flex-column mb-3">
			<h4 class="custom-font-semibold font-120 mb-3">Date and Time</h4>
			<div class="d-flex flex-wrap">
				<p>{{ event.start_date("%a, %b %-d") }}, {{ event.start_time("%-I:%M %p") }} - </p>
				<p>{{ event.end_date("%a, %b %-d") }}, {{ event.end_time("%-I:%M %p") }}</p>
			</div>
		</div>
		<div class="d-flex flex-column">
			<h4 class="custom-font-semibold font-120 mb-3">Location</h4>
			<p>{{ venue.name }}</p>
			<p>{{ venue.address }}</p>
			<p>{{ venue.city }}, {{ venue.state }} {{ venue.zip_code }}</p>
		</div>
	</aside>


</section>

<!-- Package Modal -->
{% include "events/_package_modal.html" %}


<!-- Contact Modal -->
{% include "events/_contact_modal.html" %}

<nav id="eventFooter" class="nav navbar-fixed-bottom hidden">
	<div>
		{{ event.price_range() }}
	</div>
	<button type="button" class="btn btn-primary-override" data-toggle="modal" data-target="#packageModal">
		Packages
	</button>
</nav>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">



	let resizeFunc = function () {
		if ($(window).width() <= 768) {
			$("#eventFooter").removeClass("hidden");
			$("#onResize").removeClass("hidden");
			$("#packageBtn").hide();
		} else {
			$("#eventFooter").addClass("hidden");
			$("#onResize").addClass("hidden");
			$("#packageBtn").show();
		}
	};

	let scrollFunc = function () {
		let elementPosition = $("#scrollTo").offset().top;
		let yScrollPosition = $(window).scrollTop();
		if (elementPosition < yScrollPosition) {
			$("#eventFooter").removeClass("navbar-fixed-bottom").addClass("navbar-fixed-top").css({ "box-shadow": "0px 8px 20px -9px rgba(0, 0, 0, 0.3" });
			$("#eventFooter .btn").css({ "margin-bottom": "10px" });
		} else {
			$("#eventFooter").removeClass("navbar-fixed-top").addClass("navbar-fixed-bottom").css({ "box-shadow": "none" });
			$("#eventFooter .btn").css({ "margin-bottom": "0" });
		}
	};

	// Ensure that elements are moved to their appropriate places even if browser is refreshed
	// $(resizeFunc);
	// $(scrollFunc);

	// // Makes the events page responsive
	// $(window).resize(resizeFunc);
	// $(window).scroll(scrollFunc);


	//Show the modal if the user entered invalid data
	let formErrors = {{ form.errors | safe }};
	if ($.isEmptyObject(formErrors) === false) {
		$("#contactModal").modal("show");
	}


	$(".save-btn").click(function () {
		let eventId = $(".event-page").attr("id");
		$.ajax({
			type: "POST",
			url: `${window.origin}/events/${eventId}/save`,
			dataType: "json",
			success: function (response) {
				displayAlert(response.message);
			}
		});
		return false;
	});

	$(".panel-title a").click(function () {
		let packageId = $(this).attr("data-target").split("_")[1];
		let element = $(this).find("span");
		$(`#package_${packageId}`).on('hide.bs.collapse', function () {
			$(element).removeClass("glyphicon-minus").addClass("glyphicon-plus");
		});
		$(`#package_${packageId}`).on('show.bs.collapse', function () {
			$(element).removeClass("glyphicon-plus").addClass("glyphicon-minus");
		});
	});

	$("#info").click(function () {
		let eventId = $(".event-page").attr("id");
		$.ajax({
			type: "GET",
			url: `${window.origin}/events/${eventId}/info`,
			dataType: "html",
			success: function (response) {
				let active = $("#sponsors").hasClass("active");
				if (active === true) {
					$("#sponsors").removeClass("active");
					$("#info").addClass("active");
				};
				$(".event-page-content").html(response);
			}
		});
		return false;
	});

	$("#sponsors").click(function () {
		let eventId = $(".event-page").attr("id");
		$.ajax({
			type: "GET",
			url: `${window.origin}/events/${eventId}/sponsors`,
			dataType: "html",
			success: function (response) {
				let active = $("#info").hasClass("active");
				if (active === true) {
					$("#info").removeClass("active");
					$("#sponsors").addClass("active");
				};
				$(".event-page-content").html(response);
			}
		});
		return false;
	});

	$(".select-package").click(function () {
		let regexPrice = /\d+\.\d{2}/;
		let regexQty = /\d+/;
		let $element = $(this);
		let quantity = parseInt(regexQty.exec($("#packageQuantity").text()));
		let total = parseFloat(regexPrice.exec($("#total").text()));
		let cost = parseFloat(regexPrice.exec($(this).siblings(".price").text()));
		if ($element.text() === "Add") {
			$element.text("Remove");
			if (total === 0.00) {
				$("#checkout").removeClass("disabled");
			};
			$("#packageQuantity").text(`QTY: ${quantity + 1}`);
			$("#total").text(`USD $${(total + cost).toFixed(2)}`);
		} else {
			$element.text("Add");
			if (parseInt(total - cost) === 0) {
				$("#checkout").addClass("disabled");
			};
			$("#packageQuantity").text(`QTY: ${quantity - 1}`);
			$("#total").text(`USD $${(total - cost).toFixed(2)}`);
		};
		$element.closest(".panel-collapse").toggleClass("selected");
	});

	$("#checkout").click(function () {
		let eventId = $(".event-page").attr("id");
		let packageIds = [];
		$(".selected").each(function (index) {
			packageIds.push($(this).attr("id").split("_")[1]);
		});
		$.ajax({
			type: "POST",
			url: `${window.origin}/events/${eventId}/sponsorships`,
			contentType: "application/json",
			data: JSON.stringify({ "ids": packageIds }),
			dataType: "json",
			success: function (response) {
				window.location.href = response.url;
			},
			error: function (jqXHR, exception) {
				$("#packageModal").modal("toggle");
				ajaxErrorHandler(jqXHR, exception);
			}
		});
		return false;
	});


	setSiteBackgroundColor("#fff");
</script>
{% endblock %}