{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Event Media{% endblock %}

{% block page_content %}
<div class="edit-event-container">
	{{ macros.render_sidebar("event", event.title, event) }}
	<div class="edit-event-content">
		<div class="event-form-group">
			<!-- Video Form -->
			<form class="video-form" method="POST" role="form" action="{% if video %}{{ url_for('main.delete_video', event_id=event.id, video_id=video.id) }}{% else %}{{ url_for('main.add_video', id=event.id) }}{% endif %}">
				{% if video %}
					{{ remove_video_form.hidden_tag() }}
					{{ wtf.form_errors(remove_video_form, hiddens="only") }}
				{% else %}
					{{ upload_video_form.hidden_tag() }}
					{{ wtf.form_errors(upload_video_form, hiddens="only") }}
				{% endif %}
				<div class="video">
					<div class="row">
						<h2 class="col-md-12 form-header">Video</h2>
					</div>
					<div class="row">
						<div class="col-md-12">
							{% if video %}
								<iframe class="media" src="{{ video.url }}" width="510" height="280" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								{{ wtf.form_field(remove_video_form.remove, button_map={"remove": "btn btn-danger delete-media"}) }}
							{% else %}
								{{ wtf.form_field(upload_video_form.video_url)}}
								{{ wtf.form_field(upload_video_form.add, button_map={"add": "btn btn-primary"}) }}
							{% endif %}
						</div>
					</div>
				</div>
			</form>
			
			<!-- Multiple Image Form -->
			<form class="multi-image-form" method="POST" action="{{ url_for('main.add_misc_images', id=event.id) }}" role="form" enctype="multipart/form-data">
				{{ image_form.hidden_tag() }}
				{{ wtf.form_errors(image_form, hiddens="only") }}
				<div class="multi-image">
					<div class="row">
						<h2 class="col-md-12 form-header">Upload Images</h2>
					</div>
					<div class="row">
						<div class="col-md-12">
							{{ wtf.form_field(image_form.images) }}
						</div>
					</div>
					{{ wtf.form_field(image_form.upload, button_map={"upload": "btn btn-primary"}) }}
				</div>			
			</form>

			<!-- Image list -->
			<div class="row">
				<ul class="misc-images">
					{% for path in misc_image_paths %}
						<div class="col-md-12">
							<li class="list-unstyled misc-image"><img class="media" src="{{ url_for('static', filename=path) }}"></li>
							{{ wtf.quick_form(remove_image_form, action=url_for('main.delete_image', filename=path.split("/")[-1]), button_map={"submit": "btn btn-danger delete-media"} )}}
						</div>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}