{% extends "base.html" %}



{% block title %}Sponsormatch - {{ event.title }}{% endblock %}	
{% block page_content %}
<div id="{{ event.id }}" class="container purchase">
	<div class="page-header">
		<h2>{{ event.title }} | {{ event.start_date("%b %-dth") }} - {{ event.end_date("%-dth %Y") }} </h2>
		<p>by <a href="{{ url_for('users.user_profile', company=event.user.company) }}" target="_blank">{{ event.user.company }}</a></p>
		<p class="event-datetime">{{ event.start_date("%A, %b %-d, %Y") }} at {{ event.start_time("%-I:%M %p") }} - {{ event.end_date("%A, %b %-d, %Y") }} at {{ event.end_time("%-I:%M %p") }}</p>
	</div>
	<div class="purchase-body">
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default">
				  	<div class="panel-heading">Order Summary</div>
				  		<!-- Table -->
					    <table class="table">
						    <thead>
						    	<tr>
						    		<th scope="col">Package Name</th>
						    		<th scope="col">Price</th>
						    		<th scope="col">Fee</th>
						    		<th scope="col">Quantity</th>
						    		<th scope="col">Subtotal</th>
						    	</tr>
						    </thead>
					    	<tbody>
					    		{% for sponsorship in sponsorships %}
						    		<tr>
						    			<td>{{ sponsorship.package.name }}</td>
						    			<td class="price">${{ sponsorship.package.price }}</td>
						    			<td>{{ "${:,.2f}".format(sponsorship.package.price | float * 0.15) }}</td>
						    			<td class="quantity">1</td>
						    			<td class="subtotal">{{ "${:,.2f}".format(sponsorship.package.price | float * 1.15) }}</td>

						    		</tr>
					    		{% endfor %}
					    		<tr>
					    			<td></td>
					    			<td></td>
					    			<td></td>
					    			<td class="font-weight-bold">Sales Tax:</td>
					    			<td id="salesTax"></td>
					    		</tr>
					    		<tr>
					    			<td></td>
					    			<td></td>
					    			<td></td>
					    			<td class="font-weight-bold">Order total:</td>
					    			<td id="orderTotal"></td>
					    		</tr>
					    	</tbody>
						 </table>
					</div>
					<form id="stripeForm" method="POST" action="{{ url }}">
						<script
					        src="https://checkout.stripe.com/checkout.js"
					        class="stripe-button"
					        data-key="{{ publishable_key }}"
					        data-description="{{ description }}"
					        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
					        data-amount="{{ amount }}"
					        data-locale="auto">
					      </script>
					</form>
				</div>
				
			
				<div class="col-md-4">
					<div class="purchase-sidebar-bottom">
						<div id="whenWhere" class="panel panel-default">
						    <div class="panel-heading">
						    	<h3 class="panel-title">When & Where</h3>
						    </div>
						    <div class="panel-body">
						    	<div class="location">
							    	<p class="font-weight-bold">{{ event.venue.name }}</p>
									<p>{{ event.venue.address }}</p>
									<p>{{ event.venue.city }}, {{ event.venue.state }} {{ event.venue.zip_code }}</p>
								</div>
								<div class="event-datetime">
									<p>{{ event.start_date("%A, %b %-d, %Y") }} at {{ event.start_time("%-I:%M %p") }} - {{ event.end_date("%A, %b %-d, %Y") }} at {{ event.end_time("%-I:%M %p") }}</p>
								</div>
						    </div>
						</div>
						<div id="organizer" class="panel panel-default">
						    <div class="panel-heading">
						        <h3 class="panel-title">Organizer</h3>
						    </div>
						    <div class="panel-body">
						     	<h4 class="company">{{ event.user.company }}</h4>
						    </div>
						    <div class="organizer-details">
							    <a id="{{ event.user.company }}" class="view-profile" href="{{ url_for('users.user_profile', company=event.user.company) }}" target="_blank">View Organizer Profile</a> 
						    </div>
						    <div class="events">
						        <a id="upcomingEvents"><span class="badge">{{ event.user.num_events_hosted(EventStatus.LIVE) }}</span> upcoming events</a>
						     	<a id="pastEvents"><span class="badge">{{ event.user.num_events_hosted(SponsorshipStatus.PAST) }}</span> past events</a>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
{% endblock %}


{% block scripts %}
{{ super() }}
<script type="text/javascript">
	let subtotal = 0;
	let userCompany = $(".view-profile").attr("id");

	
	// Calculate sales tax, order total, set form action attribute and script data-amount attribute
	$(".subtotal").each(function(index) {
		let price = "";
		let elementText = $(this).text();
		for (let index = 0; index < elementText.length; index ++) {
			if (elementText[index] === "." || $.isNumeric(elementText[index])) {
				price += elementText[index];
			} 
		}
		subtotal += parseFloat(price);
	});
	let calculateSalesTax = function() {
		return (subtotal * 0.08).toFixed(2);
	}
	let calculateTotal = function() {
		return (parseFloat(calculateSalesTax()) + subtotal).toFixed(2);
	}
	$("#salesTax").text(`$${calculateSalesTax()}`);
	$("#orderTotal").text(`$${calculateTotal()}`);
	
	// Delete Sponsorship objects from db if the user navigates away from the page
	$(window).on("unload", function() {
		let eventId = $(".container.purchase").attr("id");
		let success = navigator.sendBeacon(`${window.origin}/events/${eventId}/sponsorships/cancel-purchase`);
		window.location.href = window.origin;
		return false;
	});


	$("#upcomingEvents").click(function() {
		window.open(`${window.origin}/users/${userCompany}`);
	});

	$("#pastEvents").click(function() {
		window.open(`${window.origin}/users/${userCompany}?past=1`);
	});


</script>
{% endblock %}

